.group
  padding: 4px 6px
  background: #cedefb
  color: #264e94
  text-shadow: 0 1px 1px #fff

.users-list
  span
    display: block
    margin: 2px
    padding: 2px 6px
    cursor: pointer

    &.selected
      background: #eaeaea
      border: 1px solid #dadada

    &.online
      color: #659149
    &.offline
      color: #757575
    &.idle
      color: #c38c00
    &.busy
      color: #914949

#content
  top: 0
  bottom: 32px
  left: 0
  right: 0
  position: fixed
  overflow: scroll

#footer-bar
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 32px
  line-height: 32px
  padding: 0 8px
  background: #666
  border-top: 1px solid #444
  color: #eaeaea
  font-size: 0.8rem

#change-status
  cursor: pointer

#connection-status
  float: right
